.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  font-family: Arial;
  text-decoration: none;
}
.navigation-links-link {
  font-family: Arial;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link1 {
  font-family: Arial;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}




























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.cast-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.cast-container0 {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  flex-direction: column;
}
.cast-image {
  width: auto;
  height: auto;
  object-fit: cover;
}
.cast-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.cast-text {
  color: rgba(71, 71, 71, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.cast-rectangle25 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.cast-text02 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: 0;
  padding-right: 0px;
  text-decoration: none;
}
.cast-container2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.cast-text09 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.cast-rectangle2501 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.cast-image01 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.cast-container3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.cast-text10 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.cast-rectangle2502 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.cast-text11 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: 0;
  padding-right: 0px;
  text-decoration: none;
}
.cast-image02 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.cast-container4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.cast-text12 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.cast-rectangle2503 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.cast-text13 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 0px;
  text-decoration: none;
}
.cast-image03 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.cast-container5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.cast-text14 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.cast-rectangle2504 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.cast-image04 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.cast-container6 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.cast-text15 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.cast-rectangle2505 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.cast-image05 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.cast-container9 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.cast-text16 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.cast-rectangle2506 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.cast-image06 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.cast-container11 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.cast-text17 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.cast-rectangle2507 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.cast-image07 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.cast-image08 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.cast-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.cast-text18 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.cast-rectangle2508 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.cast-image09 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.cast-image10 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.cast-container14 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.cast-text19 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.cast-rectangle2509 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.cast-text20 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  text-decoration: none;
}
.cast-text21 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.cast-text28 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.cast-text35 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.cast-text36 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.cast-container15 {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.cast-navlink {
  display: contents;
}
.cast-image11 {
  width: auto;
  height: auto;
  object-fit: cover;
  padding-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.cast-navbar-interactive {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.cast-desktop-menu {
  display: flex;
}
.cast-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.cast-icon {
  width: 32px;
  height: 32px;
}
.cast-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 305px;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.cast-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cast-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.cast-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cast-icon02 {
  width: 32px;
  height: 32px;
}
.cast-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cast-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.cast-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.cast-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.cast-icon04 {
  width: 36px;
  height: 36px;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.cast-icon06 {
  width: 36px;
  height: 36px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.cast-icon08 {
  width: 36px;
  height: 36px;
  margin-right: 0px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .cast-image {
    width: 100%;
  }
  .cast-text02 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .cast-image01 {
    width: 100%;
  }
  .cast-text11 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .cast-image02 {
    width: 100%;
  }
  .cast-text13 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .cast-image03 {
    width: 100%;
  }
  .cast-image04 {
    width: 100%;
  }
  .cast-image05 {
    width: 100%;
  }
  .cast-image06 {
    width: 100%;
  }
  .cast-image07 {
    width: 100%;
  }
  .cast-image08 {
    width: 100%;
  }
  .cast-image09 {
    width: 100%;
  }
  .cast-image10 {
    width: 100%;
  }
  .cast-text20 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .cast-image11 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .cast-text02 {
    width: 700px;
    margin-left: 0px;
  }
  .cast-text09 {
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-family: Arial;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }
  .cast-text11 {
    width: 700px;
    margin-left: 0px;
  }
  .cast-text13 {
    width: 700px;
    margin-left: 0px;
  }
  .cast-text20 {
    width: 700px;
    margin-left: 0px;
  }
  .cast-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .cast-desktop-menu {
    display: none;
  }
  .cast-burger-menu {
    display: flex;
  }
  .cast-mobile-menu {
    height: 273px;
  }
}
@media(max-width: 479px) {
  .cast-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .cast-mobile-menu {
    padding: 16px;
  }
  .cast-icon-group {
    display: none;
  }
}
@media(max-width: 375px) {
  .cast-text02 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .cast-text11 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .cast-text13 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .cast-text20 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .cast-navbar-interactive {
    padding-left: 16px;
  }
  .cast-mobile-menu {
    height: 279px;
  }
  .cast-navlink1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .cast-link {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .cast-icon06 {
    width: 30px;
    height: 30px;
  }
  .cast-icon08 {
    width: 30px;
    height: 30px;
  }
}
