.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  font-family: Arial;
  text-decoration: none;
}
.navigation-links-link {
  font-family: Arial;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link1 {
  font-family: Arial;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}




























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dashboard-container0 {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  flex-direction: column;
}
.dashboard-image {
  width: auto;
  height: auto;
  object-fit: cover;
}
.dashboard-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.dashboard-text {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle25 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text01 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: 0;
  padding-right: 0px;
  text-decoration: none;
}
.dashboard-container2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-container3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-text14 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle2501 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-image01 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.dashboard-text15 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: 0;
  padding-right: 0px;
  text-decoration: none;
}
.dashboard-text17 {
  color: #4e5fbc;
}
.dashboard-link1 {
  color: #4e5fbc;
}
.dashboard-image02 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.dashboard-container31 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-text20 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle2502 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text21 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: 0;
  padding-right: 0px;
  text-decoration: none;
}
.dashboard-image03 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.dashboard-text22 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: 0;
  padding-right: 0px;
  text-decoration: none;
}
.dashboard-text24 {
  color: #4e5fbc;
}
.dashboard-link3 {
  color: #4e5fbc;
}
.dashboard-image04 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.dashboard-container4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-text27 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle2503 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text28 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 0px;
  text-decoration: none;
}
.dashboard-image05 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dashboard-image06 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dashboard-image07 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.dashboard-container5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-text29 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle2504 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-image08 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dashboard-container6 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-text30 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle2505 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-image09 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dashboard-container7 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-text31 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle2506 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text32 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 0px;
  text-decoration: none;
}
.dashboard-image10 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dashboard-container8 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-text33 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle2507 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-image11 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.dashboard-text34 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 0px;
  text-decoration: none;
}
.dashboard-image12 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.dashboard-text35 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 0px;
  text-decoration: none;
}
.dashboard-image13 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dashboard-container9 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-text36 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle2508 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-image14 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dashboard-container10 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-text37 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle2509 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-image15 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: 0px;
}
.dashboard-image16 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dashboard-container11 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-text38 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle2510 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-image17 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.dashboard-text39 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 0px;
  text-decoration: none;
}
.dashboard-image18 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dashboard-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-text40 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle2511 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-image19 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.dashboard-image20 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dashboard-text41 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 0px;
  text-decoration: none;
}
.dashboard-image21 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dashboard-text42 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 0px;
  text-decoration: none;
}
.dashboard-image22 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dashboard-container14 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.dashboard-text43 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dashboard-rectangle2512 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text44 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  text-decoration: none;
}
.dashboard-text45 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.dashboard-text52 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.dashboard-text61 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.dashboard-text62 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.dashboard-container15 {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.dashboard-navlink {
  display: contents;
}
.dashboard-image23 {
  width: auto;
  height: auto;
  object-fit: cover;
  padding-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.dashboard-navbar-interactive {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.dashboard-desktop-menu {
  display: flex;
}
.dashboard-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.dashboard-icon {
  width: 32px;
  height: 32px;
}
.dashboard-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 305px;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.dashboard-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.dashboard-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-icon02 {
  width: 32px;
  height: 32px;
}
.dashboard-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.dashboard-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.dashboard-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.dashboard-icon04 {
  width: 36px;
  height: 36px;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.dashboard-icon06 {
  width: 36px;
  height: 36px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.dashboard-icon08 {
  width: 36px;
  height: 36px;
  margin-right: 0px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .dashboard-image {
    width: 100%;
  }
  .dashboard-text01 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-image01 {
    width: 100%;
  }
  .dashboard-text15 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-image02 {
    width: 100%;
  }
  .dashboard-text21 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-image03 {
    width: 100%;
  }
  .dashboard-text22 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-image04 {
    width: 100%;
  }
  .dashboard-text28 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-image05 {
    width: 100%;
  }
  .dashboard-image06 {
    width: 100%;
  }
  .dashboard-image07 {
    width: 100%;
  }
  .dashboard-image08 {
    width: 100%;
  }
  .dashboard-image09 {
    width: 100%;
  }
  .dashboard-text32 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-image10 {
    width: 100%;
  }
  .dashboard-image11 {
    width: 100%;
  }
  .dashboard-text34 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-image12 {
    width: 100%;
  }
  .dashboard-text35 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-image13 {
    width: 100%;
  }
  .dashboard-image14 {
    width: 100%;
  }
  .dashboard-image15 {
    width: 100%;
  }
  .dashboard-image16 {
    width: 100%;
  }
  .dashboard-image17 {
    width: 100%;
  }
  .dashboard-text39 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-image18 {
    width: 100%;
  }
  .dashboard-image19 {
    width: 100%;
  }
  .dashboard-image20 {
    width: 100%;
  }
  .dashboard-text41 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-image21 {
    width: 100%;
  }
  .dashboard-text42 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-image22 {
    width: 100%;
  }
  .dashboard-text44 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-image23 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .dashboard-text01 {
    width: 700px;
    margin-left: 0px;
  }
  .dashboard-text15 {
    width: 700px;
    margin-left: 0px;
  }
  .dashboard-text21 {
    width: 700px;
    margin-left: 0px;
  }
  .dashboard-text22 {
    width: 700px;
    margin-left: 0px;
  }
  .dashboard-text28 {
    width: 700px;
    margin-left: 0px;
  }
  .dashboard-text32 {
    width: 700px;
    margin-left: 0px;
  }
  .dashboard-text34 {
    width: 700px;
    margin-left: 0px;
  }
  .dashboard-text35 {
    width: 700px;
    margin-left: 0px;
  }
  .dashboard-text39 {
    width: 700px;
    margin-left: 0px;
  }
  .dashboard-text41 {
    width: 700px;
    margin-left: 0px;
  }
  .dashboard-text42 {
    width: 700px;
    margin-left: 0px;
  }
  .dashboard-text44 {
    width: 700px;
    margin-left: 0px;
  }
  .dashboard-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .dashboard-desktop-menu {
    display: none;
  }
  .dashboard-burger-menu {
    display: flex;
  }
  .dashboard-mobile-menu {
    height: 273px;
  }
}
@media(max-width: 479px) {
  .dashboard-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .dashboard-mobile-menu {
    padding: 16px;
  }
  .dashboard-icon-group {
    display: none;
  }
}
@media(max-width: 375px) {
  .dashboard-text01 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .dashboard-text15 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .dashboard-text21 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .dashboard-text22 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .dashboard-text28 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .dashboard-text32 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .dashboard-text34 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .dashboard-text35 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .dashboard-text39 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .dashboard-text41 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .dashboard-text42 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .dashboard-text44 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .dashboard-navbar-interactive {
    padding-left: 16px;
  }
  .dashboard-mobile-menu {
    height: 279px;
  }
  .dashboard-navlink1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .dashboard-link4 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .dashboard-icon06 {
    width: 30px;
    height: 30px;
  }
  .dashboard-icon08 {
    width: 30px;
    height: 30px;
  }
}
