.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  font-family: Arial;
  text-decoration: none;
}
.navigation-links-link {
  font-family: Arial;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link1 {
  font-family: Arial;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.kindle-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.kindle-navbar-interactive {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.kindle-desktop-menu {
  display: flex;
}
.kindle-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.kindle-icon {
  width: 32px;
  height: 32px;
}
.kindle-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.kindle-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.kindle-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.kindle-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kindle-icon02 {
  width: 32px;
  height: 32px;
}
.kindle-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.kindle-text {
  margin-bottom: var(--dl-space-space-unit);
}
.kindle-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.kindle-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.kindle-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.kindle-icon04 {
  width: 36px;
  height: 36px;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.kindle-icon06 {
  width: 36px;
  height: 36px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.kindle-icon08 {
  width: 36px;
  height: 36px;
  margin-right: 0px;
  text-decoration: none;
}
.kindle-container0 {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  flex-direction: column;
}
.kindle-image {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kindle-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.kindle-text03 {
  color: rgba(71, 71, 71, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle25 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-text05 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: 0;
  padding-right: 0px;
  text-decoration: none;
}
.kindle-container2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.kindle-text12 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle2501 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-image01 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kindle-container3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kindle-text13 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle2502 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-text14 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: 0;
  padding-right: 0px;
  text-decoration: none;
}
.kindle-image02 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kindle-container4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kindle-text15 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle2503 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-image03 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kindle-container6 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kindle-text16 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle2504 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-image04 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.kindle-container5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kindle-text17 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle2505 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-image05 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.kindle-container51 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kindle-text18 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle2506 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-image06 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: HalfUnits;
}
.kindle-container7 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kindle-text19 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle2507 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-image07 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.kindle-container8 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kindle-text20 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle2508 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-image08 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kindle-container9 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kindle-text21 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle2509 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-image09 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.kindle-image10 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.kindle-container11 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kindle-text22 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle2510 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-image11 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kindle-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kindle-text23 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle2511 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-image12 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kindle-image13 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kindle-image14 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: OneAndHalfUnits;
}
.kindle-container14 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kindle-text24 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kindle-rectangle2512 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kindle-text25 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  text-decoration: none;
}
.kindle-text26 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.kindle-text33 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.kindle-text40 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.kindle-text41 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.kindle-container15 {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.kindle-image15 {
  width: auto;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .kindle-image {
    width: 100%;
  }
  .kindle-text05 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .kindle-image01 {
    width: 100%;
  }
  .kindle-text14 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .kindle-image02 {
    width: 100%;
  }
  .kindle-image03 {
    width: 100%;
  }
  .kindle-image04 {
    width: 100%;
  }
  .kindle-image05 {
    width: 100%;
  }
  .kindle-image06 {
    width: 100%;
  }
  .kindle-image07 {
    width: 100%;
  }
  .kindle-image08 {
    width: 100%;
  }
  .kindle-image09 {
    width: 100%;
  }
  .kindle-image10 {
    width: 100%;
  }
  .kindle-image11 {
    width: 100%;
  }
  .kindle-image12 {
    width: 100%;
  }
  .kindle-image13 {
    width: 100%;
  }
  .kindle-image14 {
    width: 100%;
  }
  .kindle-text25 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .kindle-image15 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .kindle-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .kindle-desktop-menu {
    display: none;
  }
  .kindle-burger-menu {
    display: flex;
  }
  .kindle-text05 {
    width: 700px;
    margin-left: 0px;
  }
  .kindle-text14 {
    width: 700px;
    margin-left: 0px;
  }
  .kindle-text25 {
    width: 700px;
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .kindle-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .kindle-mobile-menu {
    padding: 16px;
  }
  .kindle-icon-group {
    display: none;
  }
}
@media(max-width: 375px) {
  .kindle-navbar-interactive {
    padding-left: 16px;
  }
  .kindle-mobile-menu {
    height: 278px;
  }
  .kindle-icon06 {
    width: 30px;
    height: 30px;
  }
  .kindle-icon08 {
    width: 30px;
    height: 30px;
  }
  .kindle-text05 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .kindle-text14 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .kindle-text25 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
}
