.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  font-family: Arial;
  text-decoration: none;
}
.navigation-links-link {
  font-family: Arial;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link1 {
  font-family: Arial;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.kuakao-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.kuakao-navbar-interactive {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.kuakao-desktop-menu {
  display: flex;
}
.kuakao-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.kuakao-icon {
  width: 32px;
  height: 32px;
}
.kuakao-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.kuakao-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.kuakao-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.kuakao-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kuakao-icon02 {
  width: 32px;
  height: 32px;
}
.kuakao-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.kuakao-text {
  margin-bottom: var(--dl-space-space-unit);
}
.kuakao-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.kuakao-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.kuakao-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.kuakao-icon04 {
  width: 36px;
  height: 36px;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.kuakao-icon06 {
  width: 36px;
  height: 36px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.kuakao-icon08 {
  width: 36px;
  height: 36px;
  margin-right: 0px;
  text-decoration: none;
}
.kuakao-container0 {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  flex-direction: column;
}
.kuakao-image {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kuakao-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.kuakao-text03 {
  color: rgba(71, 71, 71, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kuakao-rectangle25 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kuakao-text05 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: 0;
  padding-right: 0px;
  text-decoration: none;
}
.kuakao-container2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.kuakao-text12 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kuakao-rectangle2501 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kuakao-image01 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kuakao-container3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kuakao-text13 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kuakao-rectangle2502 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kuakao-text14 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: 0;
  padding-right: 0px;
  text-decoration: none;
}
.kuakao-image02 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kuakao-container4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kuakao-text15 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kuakao-rectangle2503 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kuakao-image03 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kuakao-container5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kuakao-text16 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kuakao-rectangle2504 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kuakao-image04 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: HalfUnits;
}
.kuakao-image05 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: HalfUnits;
}
.kuakao-container7 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kuakao-text17 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kuakao-rectangle2505 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kuakao-image06 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.kuakao-container8 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kuakao-text18 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kuakao-rectangle2506 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kuakao-image07 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kuakao-container9 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kuakao-text19 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kuakao-rectangle2507 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kuakao-image08 {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.kuakao-container11 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kuakao-text20 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kuakao-rectangle2508 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kuakao-image09 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kuakao-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kuakao-text21 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kuakao-rectangle2509 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kuakao-image10 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kuakao-image11 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.kuakao-container14 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
}
.kuakao-text22 {
  color: rgb(71, 71, 71);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kuakao-rectangle2510 {
  width: 29px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kuakao-text23 {
  color: rgb(74, 74, 74);
  width: 1200px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  text-decoration: none;
}
.kuakao-text24 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.kuakao-text31 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.kuakao-text38 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.kuakao-text39 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.kuakao-container15 {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.kuakao-image12 {
  width: auto;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .kuakao-image {
    width: 100%;
  }
  .kuakao-text05 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .kuakao-image01 {
    width: 100%;
  }
  .kuakao-text14 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .kuakao-image02 {
    width: 100%;
  }
  .kuakao-image03 {
    width: 100%;
  }
  .kuakao-image04 {
    width: 100%;
  }
  .kuakao-image05 {
    width: 100%;
  }
  .kuakao-image06 {
    width: 100%;
  }
  .kuakao-image07 {
    width: 100%;
  }
  .kuakao-image08 {
    width: 100%;
  }
  .kuakao-image09 {
    width: 100%;
  }
  .kuakao-image10 {
    width: 100%;
  }
  .kuakao-image11 {
    width: 100%;
  }
  .kuakao-text23 {
    width: 900px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .kuakao-image12 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .kuakao-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .kuakao-desktop-menu {
    display: none;
  }
  .kuakao-burger-menu {
    display: flex;
  }
  .kuakao-text05 {
    width: 700px;
    margin-left: 0px;
  }
  .kuakao-text14 {
    width: 700px;
    margin-left: 0px;
  }
  .kuakao-text23 {
    width: 700px;
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .kuakao-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .kuakao-mobile-menu {
    padding: 16px;
  }
  .kuakao-icon-group {
    display: none;
  }
}
@media(max-width: 375px) {
  .kuakao-navbar-interactive {
    padding-left: 16px;
  }
  .kuakao-mobile-menu {
    height: 278px;
  }
  .kuakao-icon06 {
    width: 30px;
    height: 30px;
  }
  .kuakao-icon08 {
    width: 30px;
    height: 30px;
  }
  .kuakao-text05 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .kuakao-text14 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
  .kuakao-text23 {
    color: rgb(74, 74, 74);
    width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    text-decoration: none;
  }
}
