<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink"><span>主页</span></a>
    <a
      href="http://x.drunkfish.me"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link"
    >
      <span>社交主页</span>
    </a>
    <a
      href="https://drunkfish.me"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link1"
    >
      <span>博客</span>
    </a>
  </nav>
</div>
